{%if user.is_authenticated%}
    <div class="row">
        <div class="friendsList ms-4 position-fixed">
            <div style="border-bottom:1px solid #6c757d;">
                <h2>Friends List</h2>
            </div>
            {% for f in myFriendList %}
            <div class="row mt-4 m-auto">
                <img class="smImg col-4" src="{{f.pfp.url}}" alt="">
                <h5 class="col-8" style="place-self: center;">
                  <a class="profileLink" href="{% url 'userProfile:Profile' user=f.user.username%}">  {{f.fullName}} </a>
                </h5>
            </div>
           {% endfor %}
        </div>
    </div>
{% endif %}